# Dataset folder
data/*

# Images
*.jpg
*.jpeg
*.png

# Audio
*.wav
*.mp3
*.mp4

# Model and embeddings
*.safetensors
*.pth

# Avoid pushing wandb logs
wandb/*
.venv/
.env
mlruns/

__pycache__/

# Other tools
.dvc
.metaflow/
launch.json